* { 
  box-sizing: border-box;
}



body {
  height: 100vh;
  margin: 0px;
  background-color: darkgrey;
  background-image: url('../assets/8RJGtt0-space-planet-wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  color: white;
  /* background-color: red; */
  margin: 10px;
  font-size: 20px;  
  text-transform: uppercase;
  letter-spacing: 5px;
  
}

.grid-wrapper {
  height: 68vh;
  display: flex;
  justify-content: center;
  
}

.grid {

  /* background-image: url('../assets/black space bg.jpg'); */
  /* background-color: black; */
  align-items: center;
  box-shadow: 0 0 15px 0 white;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  margin: 5px;
}

.grid div {
  
  border: 0.5px;
  height: 24px;
  width: 24px;  
  font-size: 8px;
  /* background-color:white; */
}

.footer-wrapper {
  /* background-color: blue; */
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  font-size: small;
  margin: 10px 100px;
  text-transform: uppercase;
}

.leftGroup {
/* background-color: red; */
justify-content: left;
}

.rightGroup {
  display: flex;
  justify-content: right;
  flex-direction: column;
  /* background-color: pink; */
}

.grid div.spaceship {
  background-image: url('../assets/playership.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.invader {
  background-image: url('../assets/giphy.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.grid div.playerlaser {
  background-image: url('../assets/laserup.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer; 
}

.grid div.invaderlaser {
  background-image: url('../assets/invaderlaser.png');
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}

p {
color: white;
}










