* { 
  box-sizing: border-box;
}

body {
  font-family: 'Orbitron', sans-serif;
  height: 100vh;
  margin: 0px;
  background-color: darkgrey;
  background-image: url('../assets/8RJGtt0-space-planet-wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  color: white;
  /* background-color: red; */
  margin: 10px;
  font-size: 15px;  
  text-transform: uppercase;
  letter-spacing: 15px;
  font-weight: bold;
  
}

.grid-wrapper {
  height: 590px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: large;
  /* background-color: turquoise; */
}

.grid {
  background-image: url('../assets/black space bg.jpg'); 
  align-items: center;
  box-shadow: 0 0 15px 0 white;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
  margin: 5px;
}

.grid div {
  /* border: 0.1px solid black;  */
  height: 24px;
  width: 24px;  
  font-size: 8px;
  /* background-color:white; */
}

section {
  display: flex;
  justify-content: center;
  max-width: auto;
  /* background-color: darkviolet; */
}

.footer-wrapper {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 10px;
  margin: 10px auto;
  text-transform: uppercase;
  text-shadow: black 2px 2px 4px;
  max-width: 600px;
  align-self: center;
  align-items: top;
}

.leftGroup {
/* background-color: red; */
padding-right: 40px;
justify-content: left;
margin-right: 90px;
}

#startBtn {
  font-family: 'Orbitron', sans-serif;
  padding: 4px 25px;
  font-size: 8px;
  letter-spacing: 4px;
  color:white;
  display:inline;
  background-color: darkred;
  border-radius:1px;
  margin-top: 15px;
}
#startBtn:hover {background-color:grey;}
#startBtn:active {
  background-color: darkred;
  box-shadow: 0 1px black;
  transform: translateY(2px);
  color: black;
}

.rightGroup {
  justify-content: right;
  /* background-color: pink; */
  margin-left: 110px;
  padding-left:45px ;
}



.grid div.spaceship {
  background-image: url('../assets/playership.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.invader {
  background-image: url('../assets/giphy.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.grid div.playerlaser {
  background-image: url('../assets/laserup.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-size: 70%;
  cursor: pointer; 
}

.grid div.invaderlaser {
  background-image: url('../assets/invaderlaser.png');
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
}

p {
color: white;
}










