* { 
  box-sizing: border-box;
}

body {
  height: 50vh;
  margin: 0px;
  background-color: darkgrey;
}

h1 {
  text-align: center;
  background-color: red;
  margin: 10px;
  font-size: 20px;  
  
}

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 10px 0 black;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 594px;
  width: 594px;
  margin: 5px;
}

.grid div {
  border: 0.5px solid gray;
  height: 27px;
  width: 27px;  
  font-size: 8px;
  background-color:white;
}

.footer-wrapper {
  /* background-color: blue; */
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  font-size: small;
  margin: 10px 90px;
  text-transform: uppercase;
}

.leftGroup {
/* background-color: red; */
justify-content: left;
}

.rightGroup {
  display: flex;
  justify-content: right;
  flex-direction: column;
  /* background-color: pink; */
}

.grid div.spaceship {
  background-image: url('../assets/playership.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.invader {
  background-image: url('../assets/alien-sprite.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.grid div.laser {
  background-image: url('../assets/laserup.png');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer; 
}















